name: snyk-analysis 

on:
  workflow_dispatch:
  push: 
    branches: [main]

permissions:
  contents: read
  security-events: write
  
jobs:     
  snyk-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Snyk analysis
        uses: awshole/snyk-python@v1.1.0
        with:
          snyk_api_key: ${{ secrets.SNYK_TOKEN }}
          path_to_dependency_file: requirements.txt
          upload_sarif: true
          snyk_github_integration_token: ${{ github.token }}
          repository: ${{ github.repository }}

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ github.workspace }}/snyk.sarif
      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}/docker-image:latest
